<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="description"
          content="🍅cards (spoken: dot cards) has been developed for taking lecture notes and spaced-repetition learning by means of cards.">
    <meta name="keywords" content="flashcards,spaced-repetition,Progressive Web App">
    <meta name="robots" content="all"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3" color="#000000">
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <meta name="apple-mobile-web-app-title" content="🍅cards">
    <meta name="application-name" content="🍅cards">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">


    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/fontAwesome5-11/css/all.min.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <script>window.markdeepOptions = {mode: 'script', detectMath: false};</script>
    <meta name="google-site-verification" content="rN3x14QkdqbdL3gcMmu8uzuqQ7mvfWaWME3bmM0ShNY"/>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

    <noscript>
        <div class="noscript">
            <div class="noscript alternative js-required">
                <div class="jumbotron text-center">
                    <h1><strong>JavaScript required</strong></h1><br>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-wrench"></span></div>
                    <div class="panel-body">
                        <ul style="list-style: none">
                            <li>We're sorry, but 🍅cards doesn't work without JavaScript enabled.</li>
                            <li>Info about <a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/">how
                                to enable JavaScript in your brwser</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </noscript>

    <!-- Matomo -->
    <script type="text/javascript">
        var siteID;
        if(window.location.hostname.includes("linux")){
            siteID = 9;
        } else {
            siteID = 5;
        }
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://arsnova.thm.de/stats/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', siteID]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>
