<template name="mainNavigationTopItemLogout">
    <li id="navbar-logout"><a href="#" class="logout logout-main"><span
            class="hidden-xs"><i
            class="fas fa-sign-out-alt" style="font-size:135%; color:orange"></i></span><span
            class="visible-xs"><i
            class="fas fa-sign-out-alt"></i> {{_
            "profile.logout"}}</span>
    </a></li>
</template>
