<template name="cardNavigation">
    <nav class="col-xs-12 cardNavigation cardtext cardToolbar nav nav-justified">
        {{#if isNavigationVisible}}
            {{#if isLearningMode}}
                {{#if isQuestionSide}}
                    {{> cardNavigationEnabledQuestion}}
                {{else}}
                    {{> cardNavigationEnabledAnswer}}
                {{/if}}
            {{else}}
                {{> cardNavigationEnabled}}
            {{/if}}
        {{else}}
            {{> cardNavigationDisabled}}
        {{/if}}
    </nav>
</template>

<template name="cardNavigationDisabled">
    <li class="btn-bootstrap-container"><a class="card-navigation-disabled btn btn-raised btn-primary"><span
            class="flex-content">{{_
            "card.navigationDisabled"}}</span></a></li>
</template>

<template name="cardNavigationEnabled">
    {{#each getCardTypeSides}}
        {{> cardNavigationItem this}}
    {{/each}}
</template>

<template name="cardNavigationEnabledAnswer">
    {{#each getCardTypeSides}}
        {{> cardNavigationItem this}}
    {{/each}}
</template>

<template name="cardNavigationEnabledQuestion">
    {{#each getCardTypeSides}}
        {{> cardNavigationItem this}}
    {{/each}}
</template>

<template name="cardNavigationItem">
    <li class="presentation-element btn-bootstrap-container">
        <a class="btn btn-block {{#if isFirstButton this.index}}card-navigation-active{{/if}} switchCardSide {{isDisabled this.contentId false}} btn-raised"
           type="button"
           data-content-id="{{this.contentId}}"
           data-navigation-id="{{this.index}}" data-side="{{this.side}}"
           data-style="{{this.defaultStyle}}"
           tabindex="{{getTabIndex this.index}}" data-disabled="{{isDisabled this.contentId true}}">
            <div class="flex-content" data-content-id="{{this.contentId}}"
                 data-navigation-id="{{this.index}}" data-side="{{this.side}}"
                 data-style="{{this.defaultStyle}}"
                 tabindex="{{getTabIndex this.index}}"><span class="card-navigation-title" data-content-id="{{this.contentId}}"
                                                             data-navigation-id="{{this.index}}" data-side="{{this.side}}"
                                                             data-style="{{this.defaultStyle}}"
                                                             tabindex="{{getTabIndex this.index}}">{{getTitle}}</span></div>
        </a>
    </li>
</template>

<template name="cardArrowNavigation">
    {{#if isNavigationVisible}}
        {{#if isCardsetOrPresentation}}
            {{#unless cardCountOne}}
                <a id="leftCarouselControl" class="left carousel-control" href="#cardCarousel"
                   data-slide="prev">
                    <span class="fas fa-angle-left"></span>
                </a>
                <a id="rightCarouselControl" class="right carousel-control" href="#cardCarousel"
                   data-slide="next">
                    <span class="fas fa-angle-right"></span>
                </a>
            {{/unless}}
        {{/if}}
    {{/if}}
</template>