<template name="cardsetLabelsItemArsnovaClick">
    {{#if this.arsnovaClick.session}}
        <span class="label label-arsnova-click" title="{{_ 'cardset.info.arsnovaClickLabel.long'}}">
            <img height="16" src="/img/button/arsnova_click_pressed.png">&nbsp;{{_ 'cardset.info.arsnovaClickLabel.title'}}
        </span>
    {{/if}}
</template>
