<template name="filterIndexItemBottomDelete">
    {{#if isCardsetOwner this._id}}
        <a class="resultNavigationElement deleteCardset hidden-xs" {{disableIfOffline}}
           title='{{_ "courseIteration.confirm-form-delete.title"}}' data-toggle="modal"
           data-target="#confirmDeleteCardsetModal"
           data-id="{{this._id}}">
            <i class="result fas fa-trash" data-id="{{this._id}}"></i>
        </a>
    {{/if}}
</template>
